* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #1F1E1F;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #fff;
    --accent-color: #146BE1;
}

/* Header =================================================================================== */
.header {
    width: 100%;
    padding: 30px 0;
    position: fixed;
    z-index: 100;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__list-item:not(:last-child) {
    margin-right: 40px;
}

.header__link {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;
}

.header__link:hover {
    color: var(--accent-color);
}

/* Main section ============================================================================= */
.main {
    min-height: 100vh;
    background: url(../img/bg/main__bg.png) center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main__headline {
    color: var(--primary-color);
    font-size: 90px;
    max-width: 620px;
    margin-bottom: 50px;
}

.main__desc {
    color: #F8F6CB;
    font-size: 50px;
}

.main__arrow {
    width: 50px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    /* animation: arrow-down linear 1.5s infinite; */
}

/* @keyframes arrow-down {
    0% {
        bottom: 30px;
    }

    100% {
        bottom: 10px;
    }
} */
/* About section ============================================================================= */
.about {
    padding: 150px 0 75px;
}

.about__info-container {
    padding: 30px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-top: 50px;
}

.about__info {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 300;
    line-height: 45px;
}

.about__img {
    width: 30px;
    margin-left: 20px;
}

.about .section-headline__icons {
    display: flex;
    align-items: center;
}

/* Skills section ============================================================================================= */
.skills__type-wrap {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
}

.skills__type-container {
    padding: 20px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.skills__type-container_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.skills__name,
.skills__percent {
    color: var(--primary-color);
    font-weight: 500;
}

.skills__name {
    font-size: 20px;
}

.skills__percent {
    font-size: 14px;
}

.skills__type-container_bottom {
    width: 100%;
    height: 7px;
    border: 1px solid var(--primary-color);
    border-radius: 40px;
}

.skills__fill {
    width: 100%;
    height: 5px;
    background: var(--primary-color);
}

.skills__fill_1 {
    width: 90%;
}

.skills__fill_2 {
    width: 70%;
}

.skills__fill_3 {
    width: 60%;
}

.skills__fill_4 {
    width: 20%;
}

.skills__fill_5 {
    width: 50%;
}

.skills__fill_6 {
    width: 40%;
}

.skills__fill_7 {
    width: 60%;
}

.skills__fill_8 {
    width: 70%;
}

.skills__fill_9 {
    width: 90%;
}

/* Html section ============================================================================= */
.html .container:nth-child(2) {
    max-width: 1410px;
}

.html__slider-wrap {
    margin-top: 30px;
    position: relative;
}

.html .tns-slider {
    padding: 30px;
}

/* Contact section ============================================================================================= */
.contact__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.contact__pane {
    /* max-width: 600px; */
    margin: 50px 0 0;
    background: rgba(0, 0, 0, 0.15);
    padding: 50px;
    border-radius: 30px;
}

.contact__input,
.contact__textarea {
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 30px;
    color: var(--primary-color);
}

.contact__textarea {
    resize: none;
}

.contact__label {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
}

.contact__button {
    display: block;
    width: fit-content;
    padding: 20px 40px;
    background: var(--accent-color);
    color: var(--primary-color);
    margin: 20px 0 0 auto;
    font-weight: 500;
}

.contact__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar {
    width: 300px;

}

.contact__name {
    font-size: 40px;
    /* text-transform: uppercase; */
    color: var(--primary-color);
    font-weight: 500;
    margin-top: 30px;
}

/* Utility classes ======================================================================================== */
section {
    padding: 75px 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1350px;
}

.section-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-headline__text {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 500;
}

.type-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 120px;
}

.type-wrap__left,
.type-wrap__right {
    position: relative;
}

.type-wrap__left {
    border-right: 5px solid var(--primary-color);
    text-align: right;
    padding-right: 50px;
}

.type-wrap__inner {
    background: rgba(0, 0, 0, 0.15);
    padding: 40px 50px 50px;
    border-radius: 20px;
    margin-top: -6px;
    position: relative;
}

.shape-1 {
    position: absolute;
    top: -20px;
    left: -30px;
    z-index: -1;
}

.shape-2 {
    position: absolute;
    top: -90px;
    right: 50px;
    z-index: -1;
}

.shape-3 {
    position: absolute;
    bottom: 30px;
    left: 50px;
    z-index: -1;
}

.shape-4 {
    position: absolute;
    top: -30px;
    right: -40px;
    z-index: -1;
}

.type-wrap__right {
    border-left: 5px solid var(--primary-color);
    margin-left: -5px;
    padding: 80px 0 0 50px;
}

.type-wrap__headline {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* .type-wrap__left .type-wrap__headline {

} */

.type-wrap__date {
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.type-wrap__description {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
}

.circle {
    width: 15px;
    height: 15px;
    background: var(--primary-color);
    position: absolute;
    border-radius: 50%;
}

.type-wrap__left .circle {
    right: -10px;
    top: -6px;
}

.type-wrap__right .circle {
    left: -10px;
    top: 75px;
}

.reference__link {
    color: var(--accent-color);
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
}

.project {
    width: 347px !important;
    height: 500px;
    position: relative;
    display: block;
}

.project__inner {
    width: calc(100% - 40px);
    height: 100%;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;
    position: relative;
}

.project__inner:hover {
    transform: scale(1.05);
}

.boostfolia {
    background: url(../img/projects/html-css/boostfolia/boostfolia-bg.png) center/cover;
}

.snow {
    background: url(../img/projects/html-css/snow/snow-bg.png) center/cover;
}

.freehand {
    background: url(../img/projects/html-css/Freehand/freehand-bg.png) center/cover;
}

.dance-tour {
    background: url(../img/projects/html-css/dance-tour/dance-tour-bg.jpg) center/cover;
}

.project__circle-wrap {
    position: absolute;
    display: flex;
    right: 20px;
    top: 20px;
}

.project__circle {
    width: 60px;
    height: 60px;
    background: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.project__circle img {
    width: 32px;
}

.project__name {
    position: absolute;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 35px;
    bottom: 20px;
    left: 20px;
}

.slider-controls {
    position: absolute;
    right: 35px;
    top: -70px;
}


.slider__arrow {
    outline: none;
    cursor: pointer;
    width: 60px;
    height: 30px;
    margin-left: 20px;
}

.html__nav {
    position: absolute;
    bottom: -20px;
    left: 30px;
    display: flex;
}

.html__nav-item {
    width: 35px;
    height: 10px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-right: 15px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.html .tns-nav-active {
    background: var(--accent-color);
}
